
.theme_text {
    color:  var(--bs-nav-link-color);
}
.dark .jumbo_content{
    background-color: hsl(250, 82%, 9%);
}
.jumbo_content{
    background-color: lightblue;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* -------------Page Contetnt Styling ---------------*/
.page_content{
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
.page_content_flexbox{
    display: flex;
    flex-wrap: nowrap;
}
.page_content_data_container{
    display: flex;
    flex-wrap: nowrap;
    width: 100%; 
}
.page_content_data{
    flex: 2; 
}
.page_content_image  {
    flex: 1;   
}
.page_content_next, .page_content_prev{
    position: absolute;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: invert(0.6) sepia(1) saturate(0) hue-rotate(-162deg);
}
.page_content_next{
    right: 10px; 
}
.page_content_prev{
    left : 10px;
    transform: rotate(180deg);
}
.page_content_icon{
    width: 20px;
}
/* ------- checkbox theme selector ------------ */
.checkbox {
    opacity: 0;
    position: absolute;
}
.label {
    width: 35px;
    height: 20px;
    background-color: hsl(250, 82%, 9%);
    display: flex;
    border-radius:50px;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    transform: scale(1.5);
}
.ball {
    width: 15px;
    height: 15px;
    background-color: white;
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
}
  /*  target the elemenent after the label*/
.checkbox:checked + .label .ball{
    transform: translateX(15px);
}
.fa-moon , .fa-sun {
    width: 10px;
    height: 10px;
}
.fa-moon{
    color: pink;
}
.fa-sun {
    color: yellow;
}