.navbar-brand {
	
	font-weight: 700;
	font-family: 'Dancing Script', cursive;
}
.row-header, div.fib.col-6{
  margin:0px auto;
  padding:0px ;
}
h1.row-header{
  color: #E18514;
  text-align: left;
  margin:0px ;
}
.navbar-dark .navbar-nav .nav-link.hover{
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: #E18514;
}
.navbar-dark .navbar-nav  .nav-link.active{
  color:#DE3C4B;
}
div.fib.col-12,div.fib.col-md-7,div.fib.col-sm-9,div.col-sm-3,
div.fib.col-lg-6,div.fib.col-md-6,div.fib.col-md-5,div.fib.col-lg-5,div.fib.col-lg-7,div.fib.col-sm-12{
  padding: 0px;
  margin:0px;
}

.navbar{
  padding-left:0px;
  padding-right:0px;
}
.row-content {
  margin:0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height:400px;
}

.footer{
  
  margin:0px auto;
  padding: 20px 0px 20px 0px;
}
div.jumbotron {
  padding-left: auto;
  padding-right: auto;
  padding-top:92px;
  padding-bottom: auto;
  margin:0px auto;
  background-color: transparent;
}
button.navbar-toggler{
  border:0px;
  border-style: none;
}
button.navbar-toggler.active{
  border:0px;
  border-style: none;
}


#fp-nav ul li:hover a.active span,
#fp-nav ul li a.active span,
.fp-slidesNav ul li:hover a.active span,
.fp-slidesNav ul li a.active span {
  background-color: #E18514;
}

body.fp-viewing-1-0 #menu .first{
  background-color: #DE3C4B;
}

div.fp-tableCell{
  vertical-align: text-top;
}
address{
  font-size:80%;
  margin:0px;
}
div#header.container{
  position: relative;
  z-index: 1000;
}

div.container-video {
  position: relative;
  overflow: hidden;
  align-items: center;
  vertical-align: center;

}
div.fib.col-md-7 div.container-video{
  padding-top: 72.682vh;
}
div.fib.col-md-5 div.container-video{
  padding-top: 48.455vh;
}
div.fib.col-md-6 div.container-video{
  padding-top: 24.227vh;
}

@media  (max-width: 768px){
  div.fib.col-md-7 div.container-video{
    padding-top: 45.646vh;
  }
  div.fib.col-md-5 div.container-video{
    padding-top: 35.112vh;
  }
  div.fib.col-md-6 div.container-video{
    padding-top: 17.556vh;
  } 
}
@media  (max-width: 576px){
  div.fib.col-md-7 div.container-video{
    padding-top: 20.5vh;
  }
  div.fib.col-md-5 div.container-video{
    padding-top: 20.5vh;
  }
  div.fib.col-md-6 div.container-video{
    padding-top: 20.5vh;
  } 
}
div.pic{
  min-height: 0;
  flex-shrink: 1;
  align-items: center;
  display: flex;
}


/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe.fib1 ,.responsive-iframe.fib2,.responsive-iframe.fib3,.repsonse-img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  margin:5px;
}

img{
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  vertical-align: center;
  width: 100%;
  height: 100%;
  margin: 5px;
}

.pic img {
  width:100%;
  vertical-align:top;
}
.pic:after{
  content:'\A';
  position:absolute;
  width:100%; height:100%;
  top:0; left:0;
  background:rgba(0,0,0,0.6);
  opacity:0;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}
.pic:hover:after{
  opacity:1;
}

a:-webkit-any-link:active{
  color: #DE3C4B;
}

.section{
  margin-bottom: 82px;
}

div.page-icons{
  letter-spacing:10px ;
}
div.page-icons a{
  color : rgba(255,255,255,.5);
  font-size: 1.7em ;
  vertical-align: center;
}
div.page-icons a:hover{
  color: #DE3C4B;
}
