/*------------------Nav NavBAR--------------------------*/
.navbar-brand {
	font-weight: 700;
	font-family: 'Dancing Script', cursive;
}
.row-header, div.fib.col-6{
  margin:0px auto;
  padding:0px ;
}
#myPages{
  background-color: #000022;
  opacity: 80%;
}
.navbar-dark .navbar-nav .nav-link.hover{
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: #E18514;
}
.navbar-dark .navbar-nav  .nav-link.active{
  color:#DE3C4B;
}
.navbar{
  padding-left:0px;
  padding-right:0px;
}
button.navbar-toggler{
  border:0px;
  border-style: none;
}
button.navbar-toggler.active{
  border:0px;
  border-style: none;
}
#header{
  position: fixed;
  z-index: 1000;
  height:82px;
  top:0px;
}

/*-------------------General Style-----------------------*/
h1.row-header{
  color: #E18514;
  margin:0px ;
}
h1.row-header-slide{
  color: #DE3C4B;
}
div.fib.col-12,div.fib.col-md-7,div.fib.col-sm-9,div.col-sm-3,
div.fib.col-lg-6,div.fib.col-md-6,div.fib.col-md-5,div.fib.col-lg-5,div.fib.col-lg-7,div.fib.col-sm-12{
  padding: 0px;
  margin:0px;
}
.highlight{
  color:#E18514 !important;
}
.row-content {
  margin:0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height:400px;
}
.row-full{
  margin:0px;
}
/*--------------------------Jumbo------------------*/
span.highlight{
  margin: 0px !important;
  padding: 0px !important;
}
div.jumbo h1{
  font-size: 10vw;
}
div.jumbo h4{
  font-size: 3vw ;
}
@media (min-width: 1440px){
  div.jumbo h1{
    font-size: 8vw;
  }
  div.jumbo h4{
    font-size: 2.4vw ;
  }
}
@media (min-width: 1800px){
  div.jumbo h1{
    font-size: 6vw;
  }
  div.jumbo h4{
    font-size: 1.8vw ;
  }
}
div.container.work{
  padding-left: 0px;
  padding-right: 0px;
  height:100%
}
/*---------------------fullpage.js---------------------------*/
body.fp-viewing-1-0 #menu .first{
  background-color: #DE3C4B;
}
#fullpage{
  padding-top: 82px;
}
div.fullpage-wrapper{
  position: absolute;
  top:0px;
}
#fp-nav ul li:hover a.active span,
#fp-nav ul li a.active span,
.fp-slidesNav ul li:hover a.active span,
.fp-slidesNav ul li a.active span {
  background-color: #DE3C4B;
}
div.fp-slidesNav.fp-bottom{
  z-index: 20;
  position: absolute;
  text-align: center;
  bottom:0px;
  align-content: center;
}
div.section{
  padding-top:0px ;
} 
div.fp-tableCell{
  padding-top: 82px;
  padding-bottom:10px ;
  vertical-align: middle;
  overflow: hidden;
  height: 100% !important;
}
div.container.page{
  padding-bottom:0px;
  padding-top:0px;
  overflow: hidden;
}
address{
  font-size:80%;
  margin:0px;
}


/*-----------------Fib Box--------------------------------*/
div.container-video {
  position: relative;
  overflow: hidden;
  align-items: center;
  vertical-align: center;

}

div.fib.col-md-7 div.container-video{
  padding-top: 72.682vh;
}
div.fib.col-md-5 div.container-video{
  padding-top: 48.455vh;
}
div.fib.col-md-6 div.container-video{
  padding-top: 24.227vh;
}
div.fib p{
  font-weight: 100;
}
@media (min-width: 768px){
  div.fib.slide-content.page{
    display: table;
    height: 100%;
  }
  div.fib.slide-content.page p{
  display: table-cell;
  vertical-align: middle;
  }

}
@media  (max-width: 768px){
  div.fib.col-md-7 div.container-video{
    padding-top: 45.646vh;
  }
  div.fib.col-md-5 div.container-video{
    padding-top: 35vh;
  }
  div.fib.col-md-6 div.container-video{
    padding-top: 17.565vh;
  } 
}
@media  (max-width: 576px){
  div.fib.col-md-7 div.container-video{
    padding-top: 15vh;
  }
  div.fib.col-md-5 div.container-video{
    padding-top: 15vh;
  }
  div.fib.col-md-6 div.container-video{
    padding-top: 15vh;
  } 
  div.fib.col-md-7 div.container-video.pi{
    padding-top: 40vh ;
  }
}
@media (max-width: 425 px){
  div.fib.col-md-7 div.container-video{
    padding-top: 10vh;
  }
  div.fib.col-md-5 div.container-video{
    padding-top: 10vh;
  }
  div.fib.col-md-6 div.container-video{
    padding-top: 10vh;
  } 
  div.fib.col-md-7 div.container-video.pi{
    padding-top: 40vh ;
  }
}
@media (max-width:375 px){
  div.fib.col-md-7 div.container-video{
    padding-top: 7vh;
  }
  div.fib.col-md-5 div.container-video{
    padding-top: 7vh;
  }
  div.fib.col-md-6 div.container-video{
    padding-top: 7vh;
  } 
  div.fib.col-md-7 div.container-video.pi{
    padding-top: 40vh ;
  }
}
div.pic, div.pi{
  min-height: 0;
  flex-shrink: 1;
  align-items: center;
  display: flex;
}

/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe.fib1 ,.responsive-iframe.fib2,.responsive-iframe.fib3,.repsonse-img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
iframe{
  padding:5px;
}

img{
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  vertical-align: center;
  width: 100%;
  height: 100%;
  padding: 5px;
}

.pic img ,.pi img {
  width:100%;
  vertical-align:top;
}

.pic,.vid{
  content:'\A';
  position:absolute;
  width:100%; height:100%;
  top:0; left:0;
  background:rgba(0,0,0,0.6);
  opacity:0.75;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}
.pic:hover,.vid:hover{
  opacity:1;
}


a:-webkit-any-link:active{
  color: #DE3C4B;
}


/*-------------------------------Page Icon FA----------------------*/
div.page-icons{
  letter-spacing:10px ;
  
}
div.page-icons a{
  color : rgba(255,255,255,.5);
  font-size: 1.7em ;
  vertical-align: center;
  z-index: 50;
}
a.connect-icons{
  color : rgba(255,255,255,.5);
  font-size: 1em ;
  vertical-align: center;
}
div.connect-icons-content{
  margin:0px;
  padding:0px;
}
div.page-icons a:hover,a.connect-icons:hover{
  color: #DE3C4B;
  text-decoration: none;
}
/*---------------------foot-note-------------------------*/
div.row-footer{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  bottom: 0px;
  font-size: 0.8em;
}
div.footer-note{
  margin:auto;
}
div.row-footer p{
  text-align: center;
  color: #DE3C4B;
}
div.row-footer a{
  color : rgba(255,255,255,.5);
  font-size: 1.3em ;
  vertical-align: center;
}
div.row-footer a:hover{
  color: #DE3C4B;
 
  text-decoration: none;
}
